################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Com.Moonlay.Service.Project.WebApi/bin
/Com.Moonlay.Service.Project.WebApi/obj
/bin
/obj
/Com.Moonlay.Service.Project.Test/bin
/Com.Moonlay.Service.Project.Test/obj
/Com.Moonlay.Service.Project.Lib/obj
/Com.Moonlay.Service.Project.Lib/bin
